pre {
    padding: 1rem;
    line-height: 1.4;
    background-color: #f9f9f9;
}

header.masthead .post-heading .meta {
    text-align: right;
}

@media (min-width: 1200px) {
    .container {
        max-width: 100vw;
    }
}