.archive-ul {
    list-style-position: inside;
    .archive-li {
        color: gray;
        .archive-article-date {
            width: 3.5em;
            display: inline-block;
            &.ymd {
                width: 6em;
            }
        }
        .archive-article-title {
            margin-left: 0.3rem;
        }
        .archive-tag-suffix {
            font-size: 0.7em
        }
    }
}

.tag-cloud {
    padding-top: 0.3em;
    .site-tag {
        margin-right: 0.5em;
        font-family: sans-serif;
    }
}