pre {
    padding: 1rem;
    line-height: 1.4;
    background-color: #f9f9f9;
}

header.masthead .post-heading .meta {
    text-align: right;
    font-style: initial;
    &.read-time {
        font-size: small;
        color: mediumspringgreen;
    }
}

.reading-time {
    color: mediumspringgreen;
}

.disqus-comment-count {
    font-style: italic;
    font-size: medium;
}

.fa {
    margin-right: 5px;
}

.post-content {
    margin-bottom: 1rem;
}

.tags {
    a:before {
        content: "/\00a0";
        color: dimgray;
        display: inline-block;
    }

    a:first-child:before {
        content: "";
        padding: 0;
    }
}

#disqus_thread {
    display: none;
    @media only screen and (min-width: 600px) {
        display: block;
    }
}

article {
    .h1, h1 {
        border-bottom-width: 5px;
        border-bottom: darkgray;
        border-bottom-style: solid;
    }

    .h2, h2 {
        border-bottom-width: 5px;
        border-bottom: darkgray;
        border-bottom-style: dotted;
    }

    h1, h2, h3, h4, h5, h6 {
        &[id] > a {
            display: none;
        }
        &[id]:hover > a {
            display: inline;
        }
    }
}

img {
    max-width: 100%;
}

.hidden-in-xl {
    @media(min-width: 1200px) {
        display: none !important;
    }
}

.ad-show-max1538 {
    @media(min-width: 1538px) {
        display: none !important;
    }
}
.ad-show-min1540 {
    position: absolute;
    width: calc((97vw - 1140px) / 2);
    margin-right: 5px;
    min-width: 200px;
    text-align: center;
    display: none;
    @media(min-width: 1540px) {
        display: block !important;
    }

    &.left {
        left: 0;
    }
    &.right {
        right: 0;
    }
}

.dsn {
    display: none !important;
}