---
layout: default
---
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ '/img/bg-tag.jpg' | prepend: site.baseurl | replace: '//', '/' }}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>{{ page.title }}</h1>
                    <div class="tag-cloud">
                        {% assign tags = site.tags | sort %}
                        {% for tag in tags %}
                        <span class="site-tag">
                            <a href="#{{ tag | first | slugify }}" style="font-size: {{ tag | last | size | times: 4 | plus: 80 }}%">
                                {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
                            </a>
                        </span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
            {{ content }}
        </div>
    </div>
</div>