---
layout: default
---
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ '/img/bg-tag.jpg' | prepend: site.baseurl | replace: '//', '/' }}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>{{ page.tag }}</h1>
                    <span class="subheading">列表</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
            <ul class="archive-ul">
                {% for post in page.posts %}
                <li class="archive-li">
                    <span class="archive-article-date ymd">{{ post.date | date: "%Y-%m-%d" }}</span>
                    <a class="archive-article-title" href="{{ post.url }}">{{ post.title }}</a>
                    <span>( Tags: {{ post | tags }} )</span>
                </li>
                {% endfor %}
            </ul>
            <!--<div id="tag-cloud">-->
                <!--{{ site | tag_cloud }}-->
            <!--</div>-->
        </div>
    </div>
</div>